Options +FollowSymLinks
<IfModule mod_rewrite.c>
	RewriteEngine On
	
	RewriteRule ^([^/\.]*?)/([^/\.]*?)/?(login)/?$ index.php?page=$3 [L]
	RewriteRule ^login/(error)$ index.php?loginError=true [L]
	RewriteRule ^([^/\.]+)(/?[^/\.]+)?/edit/?$ index.php?page=$1&edit=edit [L]
	RewriteRule ^([^/\.]+)(/?[^/\.]+)?/add/?$ index.php?page=$1&edit=add [L]
	RewriteRule ^(update|save|login|signupval|logout)/?([0-9]+|[a-zA-Z]+)?/?(back)?/?([^/\.]+)?/?$ index.php?$1=$2&$3=$4 [L]
	RewriteRule ^([^/\.]+)/([^/\.]+)/?$ index.php?page=$1&filter=$2 [L]
	RewriteRule ^(controlpanel)/? index.php?$1=1
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	
	RewriteRule ^([^/\.]+)/?$ index.php?page=$1 [L]
</IfModule>